.home-case, 
.single-case {
  height: 100%;
  width: 100%;
}
.case-hero {
  color: #000;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: left;
}
.case-imgs {
  height: auto;
  width: 100%;
}
.case-imgs img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.CasePost--BackButton {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1em;
}
.CasePost--BackButton svg {
  transition: transform 0.2s ease-out;
  transform: translateX(0);
  height: 1.2em;
}
.CasePost--BackButton:hover svg,
.CasePost--BackButton:focus svg {
  transform: translateX(-0.25em);
}
.CasePost--Meta {
  font-size: 1rem;
  margin: 0 0 2rem 0;
  text-align: center;
}
.CasePost--Meta > * + * {
  margin-left: 0.75em;
}
.CasePost--InnerContent {
  width: 100%;
  height: 100%;
}
.case-post {
  display: flex;
  align-items: center;
  background: #000;
  height: 128px;
}
.case-post-link {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.resultados strong {
  color: #000;
  font-family: var(--font-primary);
}
.resultados {
  height: 100%;
}
.case-hero .anchor-down {
  padding: calc(100px - 30px) 0 68px 30px;
}
.case-content {
  margin: 60px 24px;
}
.case-content h4 {
  margin: 24px auto;
}
.case-content iframe {
  margin: 0 !important;
}
.case-content p {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.case-content p:first-of-type {
  margin-top: 24px;
}
.case-content p:not(:last-of-type) {
  margin-bottom: 12px;
}
.next {
  margin-left: auto;
  padding-right: 40px;
}
.next img {
  padding-left: 16px;
}
.prev {
  padding-left: 40px;
}
.prev img {
  padding-right: 16px;
}