.case-hero {
  height: 640px;
}
.case-pots-content .Content p {
  padding-bottom: 12px;
}
.case-hero .anchor-down {
  width: 100%;
  padding: 10% 0 0 30px;
}
.blog-hero {
  color: #000;
  height: 477px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: left;
}
.case-imgs {
  height: 100%;
  width: 100%;
}
.case-imgs img {
  width: 100%;
  height: 100%;
}
.case-texts-wrapper {
  padding: 60px 24px;
  width: 100%;
}
.case-texts-wrapper-title3 {
  padding: 0 24px 60px;
  width: 100%;
}
.case-text {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #1D1D1B;
}
.case-title {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
  padding: 0 0 24px;
}
.case-title3 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
}
.case-post-wrapper {
  background: #000;
  height: 128px;
}
.case-post {
  display: flex;
  align-items: center;
  height: 128px;
}
.case-post-link {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.case-title-resultados {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
}
.resultados-case-title {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 70px;
  text-transform: uppercase;
  color: #000000;
}
.resultados-case-text {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
.resultados-case-sub1 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
.resultados-case-sub2 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
.resultados-wrapper {
  padding: 60px 24px;
}
.resultados-item-wrapper {
  padding: 60px 0 0;
}
.resultados-case-title {
  padding: 0 0 24px;
}
.resultados-case-text {
  padding: 0 0 16px;
  border-bottom: 1px solid #000;
}
.resultados-case-sub1 {
  padding: 0 0 14px;
}
.resultados-case-sub2 {
  padding: 16px 0 0;
}
.blog-hero .anchor-down {
  padding: calc(100px - 30px) 0 68px 30px;
}
.case-content {
  display: flex;
  flex-flow: column;
}
.case-content .Content.case-title {
  width: 100%;
  padding: 60px 24px 24px;
}
.case-pots-content strong {
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 12px;
}
.case-about p:first-of-type {
  padding-bottom: 12px;
}
.next {
  margin-left: auto;
  padding-right: 40px;
}
.next img {
  padding-left: 16px;
}
.prev {
  padding-left: 40px;
}
.prev img {
  padding-right: 16px;
}
.btn-down-case {
  position: absolute;
  bottom: 68px;
  padding: 0 24px;
}
.display-none {
  display: none !important;
}
.case-yt {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.case-yt iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* desktop */

@media (min-width: 1024px) {
  .case-hero {
    height: 720px;
  }
  .blog-hero {
    height: 720px;
  }
  .blog-hero .anchor-down {
    padding: 164px 0;
  }
  .blog-hero .anchor-down {
    padding: 180px 0 68px 0;
  }
  .case-hero .anchor-down {
    width: 100%;
    padding: 15% 0 0;
  }
  .case-hero h1 {
    padding: 16px 720px 0 0;
  }
  .case-texts .case-content p {
    padding: 0 10%;
  }
  .case-content-desk {
    display: flex;
    flex-flow: row;
  }
  .case-texts-wrapper {
    padding: 60px 24px;
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  .case-texts-wrapper .case-title {
    width: 30%;
  }
  .case-texts-wrapper .case-text {
    width: 60%;
  }
  .case-title {
    font-size: 64px;
    line-height: 70px;
  }
  .case-content h2 {
    font-size: 64px;
    line-height: 70px;
  }
  .case-hero .default-text-about {
    padding: 24px 720px 0 0;
  }
  .btn-down-case {
    position: absolute;
    bottom: 88px;
    padding: 0;
  }
  .case-texts-wrapper-title3 {
    padding: 60px 24px;
  }
  .resultados {
    display: grid;
    grid-template-columns: repeat(2, 300px);
  }
  .resultados-case-text {
    border-bottom: unset;
  }
  .resultados-wrapper {
    padding: 120px 0;
  }
  .resultados-wrapper .resultados-item-wrapper {
    justify-self: start;
  }
  .resultados-wrapper img {
    width: 100%;
  }
  .case-title-resultados {
    font-size: 64px;
    line-height: 70px;
  }
  .case-title3 {
    font-weight: normal;
    font-size: 64px;
    line-height: 70px;
  }
}