.contato-hero {
  height: 490px;
  width: 100%;
  background-image: url(/images/contato.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.contato-hero h1 {
  color: #fff;
}
.contato-address-container {
  display: flex;
  flex-flow: row;
  align-items: left;
  overflow: hidden;
}
.contato-hero p {
  color: #fff;
}
.contato-infos {
  background: #fff;
  padding: 40px 24px 60px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.call-us .default-text-about {
  padding: 0;
}
.address .default-text-about {
  padding: 0 0 0 21px;
}
.contato-infos-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: left;
  overflow: hidden;
  padding: 60px 0;
}
.contato-infos-container .default-text-header {
  padding: 0;
}
.contato-infos-container .default-text-about {
  text-transform: lowercase;
  padding: 17px 0 0 0;
}
.contato-news .default-text-header {
  padding: 0;
}
.contato-news .default-text-about {
  padding: 16px 0;
}
.news-email input[type='text'] {
  width: 232px;
  height: 48px;
  border: 1px solid #989898;
  background: #FFFFFF;
  font-size: 1.4rem;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #989898;
  padding: 16px 15px;
}
.news-email input[type='text']:focus {
  border: 2px solid #000000;
}
.news-email button {
  margin: 8px 0 60px 0;
  width: 138px;
  height: 48px;
}
.social-btns {
  display: flex;
}
.social-btns button {
  background: transparent;
  border: none;
  padding: 0 14px 0 0;
}
/* desktop */

@media (min-width: 1024px) {
  .contato-hero {
    height: 720px;
    width: 100%;
  }
  .contato-hero .anchor-down {
    padding: 124px 13px 0;
  }
  .contato-hero h1 {
    padding-right: 800px;
  }
  .contato-assine-wrapper {
    display: flex;
    align-items: flex-start;
    flex-flow: row;
    width: 100%;
    height: 100%;
    align-content: center;
    flex-wrap: wrap;
  }
  .contato-infos {
    padding: 60px 0;
  }
  .contato-infos-container {
    width: 40%;
  }
  .contato-infos-container,
  .contato-news {
    padding: 48px 0 0;
  }
  .contato-infos-container h2 {
    padding-right: 120px;
  }
  .news-email button {
    margin: 8px 0 0;
  }
  .address .default-text-about {
    padding: 0 0 0 60px;
  }
}