.projeto-hero {
  height: 100vh;
  width: 100%;
  background: #fff;
}
.projeto-section {
  width: 100%;
}
.projeto .anchor-down {
  margin: 84px auto 68px 30px;
}
.nossos-clientes {
  padding: 60px 24px;
}
.nossos-clientes h2 {
  width: 70%;
  margin-bottom: 34px;
}