.vaga-hero {
  background: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;

}
.vaga-hero .anchor-posts a {
  color: #fff;
}
.vaga-hero .anchor-posts img {
  padding-right: 16px;
}
.vaga-hero .default-text-header {
  padding: 33px 0 0 24px;
}
.vaga-hero .default-text-title {
  padding: 16px 0 24px 24px;
}
.vaga-hero .default-text-about {
  padding: 0 24px 60px;
}
.vaga-text {
  height: 100%;
  background: #fff;
}
.vaga-text .default-text-sub {
  padding: 60px 24px 24px;
}
.vaga-text .default-text-about {
  padding: 0 24px;
}
.apply-btn {
  padding: 60px 24px;
}
.apply-btn button {
  width: 80px;
  height: 48px;
}