.cases-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
@media (min-width: 1024px) {
  .cases-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}