footer {
  background: #000;
  color: #fff;
  height: auto;
  overflow: hidden;
}
.footer-custom {
  display: flex;
  flex-direction: column;
  padding: 60px 24px;
}
.footer-custom img {
  max-width: 100%;
}
.endereco {
  display: flex;
}
.social {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 60px;
}
.escritorio {
  margin-top: 60px;
}
.escritorio p {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.social a, 
.social p {
  text-decoration: none;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.social a:hover {
  color: #989898;
}
.phone {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 60px;
}
.all-right {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 60px;
}
/* desktop */

@media (min-width: 1024px) {
  .footer-custom {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
  }
  .endereco-desk {
    display: flex;
    flex-direction: row;
    padding: 60px 0;
  }
  .endereco-desk .phone,
  .endereco-desk .endereco .escritorio,
  .endereco-desk .endereco .social,
  .endereco-desk .all-right {
    margin-top: 0;
  }
  .endereco-desk .endereco .social {
    margin-left: 0;
  }
  .endereco-desk .phone {
    padding-right: 60px;
  }
  .endereco-desk .endereco .escritorio {
    padding-right: 60px;
  }
  .endereco-desk .all-right {
    margin-left: auto;
  }
}