footer {
  background: #000;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  height: 463px;
  font-family: var(--font-second);
}
.endereco strong {
  font-weight: 600;
  color: #fff;
  font-family: var(--font-second);
}
.footer-custom {
  display: flex;
  flex-direction: column;
}
.footer-custom img {
  width: 150px;
  max-width: 100%;
}
.endereco {
  display: flex;
}
.social {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  line-height: 8px;
  width: auto;
  padding-left: 40px;
}
.escritorio {
  width: auto;
  color: #fff;
}
.social a {
  text-decoration: none;
  margin-top: 25px;
  color: #fff;
}
.social a:hover {
  color: #989898;
}
.phone {
  padding-top: 80px;
  padding-bottom: 70px;
  line-height: 10px;
  color: #fff;
}
.all-right {
  color: #989898;
  display: flex;
  flex-direction: column;
  line-height: 2px;
  padding-top: 80px;
}