@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
:root {
  --primary: #fff;
  --secondary: #000;
  --lightGrey: whitesmoke;
  --midGrey: #cacaca;
  --darkGrey: #272727;
  --danger: #ff3d3d;
  --font-primary: 'Anton', sans-serif;
  --font-secondary: 'IBM Plex Sans', sans-serif;;
  --font-system: system-ui; /* postcssPresetEnv */
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
}
*:focus {
  outline: 0;
}
::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px var(--grey);
}
::-webkit-scrollbar-thumb {
  background-color: #cacaca;
}
::selection {
  background: #cacaca;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  background: #fff;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
body {
  color: var(--secondary);
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
a {
  color: var(--primary);
  text-decoration: none;
}
strong {
  font-weight: 600;
}
h1 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 70px;
}
h2 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
}
h3 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
h4 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.default-text-header {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 0.04em;
  line-height: 16px;
  text-transform: uppercase;
  margin: 184px 24px 0;
}
.default-text-title {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 70px;
  text-transform: uppercase;
  word-wrap: break-word;
  margin: 16px 24px 0;
  width: 70%;
}
.default-text-about {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  word-wrap: break-word;
  margin: 24px 24px 0;
  width: 70%;
}
pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--primary);
}

/* Utility Classes */
.light {
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: var(--primary);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Layout */

.section {
  width: 100%;
  padding: 5rem 0;
  border-bottom: 1px solid #f1f1f1;
}


@media (max-width: 600px) {
  .section {
    width: 100%;
    padding: 5rem 0;
  }
  .section.thick {
    padding: 7rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
}

/* Buttons */

.Button {
  background: var(--primary);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1.25rem 3rem;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: var(--borderRadius);
}
.Button:hover,
.Button:focus {
  opacity: 0.95;
  outline: none;
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* container default style */
.invert-color {
  color: #fff;
}
.default-flex {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}
.padding-btn {
  padding-top: 50px;
}
.default-btn button {
  font-family: var(--font-secondary);
  font-size: 2rem;
  word-wrap: break-word;
  color: #fff;
  background: #000;
  padding: 15px 25px;
  border: 1px solid #fff;
  cursor: pointer;
}