.navbar {
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
  transition: top 0.3s;
}
.navbar .Logo {
  z-index: 1;
}
.navbar-hidden {
  top: -100px;
}
.nav-active {
  width: 100%;
  height: 100%;
}
.nav-active .navbar {
  display: none;
}
.nav-wrapper {
  display: flex;
  width: auto;
  height: 100%;
  justify-content: space-between;
  padding: 40px 24px 0;
  align-items: center;
}
.nav-active .nav-wrapper {
  height: auto;
  width: 100%;
  justify-content: space-between;
  align-items: unset;
}
.nav-active .nav-links {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  z-index: 9;
}
.nav-active .NavLink {
  animation: Nav--Link 0.3s ease-out;
  animation-fill-mode: both;
  font-family: var(--font-primary);
  transition: color 0.2s, border-bottom-color 0.2s;
  text-decoration: none;
  border-bottom: 1px solid #000;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 70px;
  text-transform: uppercase;
  color: #000000;
  display: block;
  padding: 8px 24px;
}
.nav-active .NavLink:first-child {
  padding: 0 24px 8px;
}
.nav-links {
  display: none;
}
.nav-links-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 24px;
}
.nav-btn {
  display: block !important;
  margin-left: auto;
  z-index: 1;
}
.contact-menu-hamburger {
  padding: 16px 24px;
}
.contact-menu-hamburger .address .default-text-about {
  padding: 0 0 0 15px;
}


.Nav--GroupLinks {
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  background: transparent;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease all;
}
.Nav--Group.active .Nav--GroupLinks {
  max-height: 100vh;
  opacity: 1;
  transition: 0.6s ease all;
}
.Nav--Group.active .Nav--GroupParent::after {
  top: calc(50% + 0.2rem);
  transform: translateY(-50%) rotate(-135deg);
}
.Nav--GroupLink {
  display: block;
  position: relative;
  width: 15rem;
}
@keyframes Nav--Link {
  from {
    transform: translate(0rem, 1rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* desktop */

@media (min-width: 1024px) {
  .nav-wrapper {
    padding: 60px 0;
  }
  .nav-active .NavLink {
    border-bottom: none;
    padding: 12px 129px;
  }
  .nav-active .NavLink:first-child {
    padding: 0 129px 12px;
  }
  .nav-links-nav {
    padding: 64px 129px 60px;
  }
}







/* .Nav--Group {
  position: relative;
  cursor: pointer;
}
.Nav--GroupParent {
  padding-right: 3rem;
}

.Nav--GroupParent::after {
  content: '';
  position: absolute;
  top: calc(50% - 0.2rem);
  right: 1rem;
  border-bottom: 2px solid var(--darkGrey);
  border-right: 2px solid var(--darkGrey);
  display: block;
  height: 0.8rem;
  width: 0.8rem;
  transition: 0.3s ease all;
  transform: translateY(-50%) rotate(45deg);
} */