.pessoas-car {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pessoas-car-hero {
  height: 100vh;
  width: 100%;
  background: #fff;
}
.pessoas-car-section {
  height: 100vh;
  width: 100%;
}
.Home {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.pessoas-car-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
