
.posts-section {
  width: 100%;
  height: 100%;
  background: #000;
}
.anchor-up {
  padding: 14px 38px;
}
.anchor-up button {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* desktop */

@media (min-width: 1024px) {
  .post-section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .anchor-up {
    padding: 62px 38px 74px;
  }
}