.posts-section {
  background: #000;
}
.PostSection {
  width: 100%;
}

.PostSection button:hover {
  background: black;
  border: 2px solid white;
  color: white;
}

.PostSection--Title {
  color: #fff;
  width: 100%;
  margin: 0 auto 4rem auto;
  line-height: 1.2;
}
.anchor-up {
  padding: 14px 38px;
}
.anchor-up a {
  text-decoration: none;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* desktop */

@media (min-width: 1024px) {
  .post-section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}