.post-card-img {
  width: 312px;
  height: 311px;
}
.post-card-text .default-text-header {
  padding: 40px 24px 16px;
}
.post-card-text .default-text-about {
  padding: 0 24px 24px;
  font-weight: 600;
}
.line img {
  width: 100%;
  padding: 16px 24px;
}

/* desktop */

@media (min-width: 1024px) {
  .post-section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .post-card-img {
    width: 451px;
    height: 311px;
  }
}