.post-card-img {
  width: 100%;
  height: 311px;
  padding: 0 24px;
}
.post-card-bg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.post-card-text .default-text-header {
  padding: 40px 24px 16px;
}
.post-card-text .default-text-about {
  padding: 0 24px 24px;
  font-weight: 600;
}
.line img {
  width: 100%;
  padding: 16px 24px;
}
.post-section-grid {
  display: flex;
  flex-flow: column;
}

/* desktop */

@media (min-width: 1024px) {
  .post-section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .post-card-img {
    width: 100%;
  }
}