.post-card-img {
  width: 312px;
  height: 311px;
}
.post-card-text .default-text-header {
  padding: 40px 24px 16px;
}
.post-card-text .default-text-about {
  padding: 0 24px 24px;
  font-weight: 600;
}
.line img {
  width: 100%;
  padding: 16px 24px;
}