.mais-que-digital {
  background: #fff;
}
.mais-que-digital button {
  width: 154px;
  height: 24px;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 20px 0 0 24px;
}
.experiencias {
  height: 640px;
  width: 100%;
  background-image: url(/images/mais-que-comunica.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.default-text-header-sobre {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 0.04em;
  line-height: 16px;
  text-transform: uppercase;
  padding: 60px 24px 0;
  width: 100%;
  color: #fff;
}
.default-text-title-sobre {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
  padding: 16px 80px 0 24px;
  width: 100%;
  color: #fff;
}
.default-text-about-sobre {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding: 24px 80px 0 24px;
  width: 100%;
  color: #fff;
}
.default-text-sub-sobre {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 16px 80px 0 24px;
  width: 100%;
  color: #1D1D1B;
}
.mais-que-digital .anchor-down {
  width: 100%;
  padding: 84px 0 0;
}
.experiencias .default-btn {
  padding: 20px 0 0 24px;
}
.experiencias button {
  width: 227px;
  height: 48px;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.quem-somos-wrapper,
.quem-somos {
  background: #fff;
}
.quem-somos .default-text-header-sobre,
.quem-somos .default-text-title-sobre {
  color: #000;
}
.img-manifesto {
  height: 448px;
  width: 100%;
  background-image: url(/images/mani-mob.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-manifesto button {
  background-image: url(/images/play-mob.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 64px;
  height: 64px;
  border: 0;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
}
.nossa-abordagem {
  height: 640px;
  width: 100%;
  background-image: url(/images/astronauta-mob.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.nossa-abordagem button {
  width: 176px;
  height: 48px;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 20px 0 0 24px;
  border: 1px solid #FFFFFF;
}
.make-great-launches {
  height: 640px;
  width: 100%;
  background-image: url(/images/nave.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}
.make-great-launches .default-text-about-sobre,
.make-great-launches .default-text-title-sobre {
  color: #000;
}
.make-great-launches .default-text-title-sobre {
  padding-top: 60px;
}
.nave-text-upper {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1D1D1B;
  padding: 40px 0 60px 24px;
}
.make-great-launches button {
  width: 105px;
  height: 24px;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 24px;
  border: 1px solid #FFFFFF;
}
.swiper-scrollbar {
  display: none;
}
.servicos {
  background: #fff;
}
.servicos .default-text-about {
  padding: 24px 24px 0;
}
.servicos-texts {
  padding: 24px 24px;
}
.servicos-texts p {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: bolder;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1D1D1B;
  padding-bottom: 24px;
}
.escala {
  height: 640px;
  width: 100%;
  background-image: url(/images/escala-mob.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}
.pilares-wrapper {
  width: 100%;
  height: 100%;
  background: #000;
}
.pilares {
  width: 100%;
  height: 100%;
}
.sobre-car-vert-servicos .default-text-header:nth-of-type(1) {
  padding-bottom: 50px;
}
.pilares-div {
  padding: 60px 24px;
}
.pilares-div h2 {
  color: #fff;
}
.pilares-row {
  display: flex;
  flex-flow: row;
}
.pilares-title {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 60px 0 0 24px;
}
.pilares-text {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 60px 0 0 65px;
  color: #ADADAD;
}
.we-make-great {
  height: 100%;
  width: 100%;
  background-image: url(/images/astronauta-white-mob.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}
.we-make-great .default-text-about-sobre,
.we-make-great .default-text-title-sobre {
  color: #000;
}
.we-make-great .default-text-title-sobre {
  padding-top: 24px;
}
.we-make-great button {
  width: 105px;
  height: 24px;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 24px;
  border: 1px solid #FFFFFF;
}
.swiper-pagination-sobre {
  border: 1px solid #000;
  background: #000;
  border-radius: 40px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  min-width: 152px;
  height: 24px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-sobre::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/images/line-blk.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
  left: -30px;
}
.swiper-pagination-sobre::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/images/line-blk.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
  right: -30px;
}
.btn-up {
  padding-top: 60px;
}
.btn-up h4 {
  text-transform: uppercase;
}

/* desktop */

@media (min-width: 1024px) {
  .swiper-pagination-sobre {
    background: unset;
  }
  .default-text-title {
    padding: 16px 773px 0 0;
  }
  .default-text-sub-sobre {
    padding: 16px 773px 0 0;
  }
  .mais-que-digital button {
    margin: 20px 0 0;
  }
  .default-text-title-sobre {
    font-size: 64px;
    line-height: 70px;
    padding: 16px 0 0 0;
  }
  .default-text-header-sobre {
    padding: 60px 0 0;
  }
  .default-text-about-sobre {
    padding: 24px 600px 0 0;
  }
  .experiencias .default-btn {
    padding: 20px 0 0;
  }
  .img-manifesto {
    height: 720px;
    width: 676px;
    background-image: url(/images/mani-mob.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quem-somos {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .quem-somos-texts {
    width: 433px;
  }
  .quem-somos .default-text-title-sobre {
    padding: 16px 80px 0 0;
  }
  .nossa-abordagem {
    height: 100%;
    width: 100%;
    background-image: url(/images/astronauta-desk.png);
  }
  .make-great-launches {
    height: 640px;
    width: 100%;
    background-image: url(/images/nave-desk.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .nave-text-upper {
    padding: 40px 0 60px 0;
  }
  .make-great-launches button {
    margin: 0;
  }
  .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/images/car-arrow-left.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
    left: 10px;
    bottom: 0;
  }
  .swiper-pagination-bullet::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/images/car-arrow-right.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
    right: 10px;
    bottom: 0;
  }
  .swiper-pagination-bullet {
    background: #000;
    opacity: unset;
    width: 4px;
    height: 4px;
  }
  .swiper-pagination-bullet-active::before {
    content: url(/images/aro-blk.png);
    position: inherit;
    display: block;
  }
  .servicos-texts {
    padding: 0 0 24px 0;
  }
  .servicos .default-text-about {
    padding: 24px 0;
  }
  .servicos-texts p {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: bolder;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #1D1D1B;
    padding-bottom: 16px;
  }
  .escala {
    height: 100%;
    width: 100%;
    background-image: url(/images/escala-desk.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #fff;
  }
  .pilares {
    display: flex;
    flex-flow: row;
  }
  .pilares-row {
    display: flex;
    flex-flow: column;
  }
  .pilares-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    padding: 0;
  }
  .pilares-text {
    padding: 20px 0 0;
  }
  .pilares-div {
    padding: 0;
  }
  .pilares-div h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 70px;
  }
  .pilares {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row;
    width: 100%;
    height: 100%;
    align-content: center;
    flex-wrap: wrap;
  }
  .we-make-great {
    width: 100%;
    background-image: url(/images/astronauta-desk-sobre.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .we-make-great .default-text-title-sobre {
    font-size: 64px;
    line-height: 70px;
    padding: 16px 600px 0 0;
  }
  .we-make-great .default-text-about-sobre {
    padding: 16px 600px 0 0;
  }
  .we-make-great button {
    margin: 0;
  }
}